@import url(./normalize.css);

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background: radial-gradient(white, rgb(188, 242, 224));
    min-height: 100vh;
}

.header {
    color: rgb(13, 13, 83);
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

.form {
    border: 1px solid green;
    max-width: 600px;
    padding: 35px;
    background: linear-gradient(rgb(191, 190, 190), lightgreen);
    margin: 0 auto;
    border-radius: 10px;
}

.row {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.form_label {
    color: rgb(87, 15, 15);

}

.form_input,
.form_select,
.input_age,
.form_adress {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 5px;
}

.form_input {
    width: 63%;
}

.gender {
    display: flex;
    padding-bottom: 20px;
}

.gender>p {
    margin: 0;
    margin-right: 165px;
}

.input_gender {
    margin-right: 25px;
}

.age, .agreement {
    padding-bottom: 20px;
}

.input_age {
    width: 10%;
    margin-left: 180px;
}

.form_select,
.form_adress {
    width: 65%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;    
}

.button {
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    background: rgb(47, 90, 47);
    padding: 15px;
}

.footer {
    color: gray;
    text-align: center;
    text-decoration: overline;
}