@import url(./normalize.css);

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background: radial-gradient(white, rgb(188, 242, 224));    
    min-height: 100vh;
}

.header {
    color: rgb(13, 13, 83);
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}